::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #b7b7b7;
  border-radius: 10px;
}
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
/* Track */

/* .invisible-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
} */
/* Handle */

/* .invisible-scrollbar::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none;
  background-color: hsla(0, 0%, 42%, 0.49);
}

.invisible-scrollbar::-webkit-scrollbar-thumb:window-inactive {
  background: none;
} */
.invisible-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.swal2-container {
  z-index: 9999;
}